/* header is container for nav items. They inherit display so I don't have to declare on them! */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* ----- */
  background-color: #434348;
  height: 5rem;
  white-space: nowrap;
  z-index: 999;
  /* border-bottom: .25rem solid #d4c467; */
  /* justify = justify items along main axis (main axis horizontal by default) */
  /* align = align along cross axis */
}

header h1 {
  display: inherit;
  color: #FF715B;
  margin-left: 1rem;
  font-size: 1.65rem;
  /* background-color: pink; */
}

/* .headDivider {
    border: .125rem solid #d4c467;
} */
h1 {
  color: orange;
  font-size: 1.8rem;
  /* margin: 1.5rem; */
}

nav {
  display: inherit;
  width: 60vw;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2vw;
}
nav a {
  display: inherit;
  height: 75%;
  width: 6.5rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* background-color: #088042; */
  color: #FF715B;
  font-size: 1.125rem;
  font-weight: bold;
  transition: 0.4s;
  border-radius: 20%/30%;
}
nav a:visited {
  text-decoration: none;
}
nav a:hover {
  transition: 0.25s;
  transform: translate(-4px, 4px);
  background-color: rgb(72, 39, 116);
  box-shadow: 4px -4px black;
}
nav a:active {
  transform: translate(0);
  box-shadow: 0px 0px black;
  transition: 0.1s;
}
nav .current-link {
  transform: translate(-2px, 2px);
  background-color: rgb(72, 39, 116);
  box-shadow: 2px -2px black;
}
nav a.link--override {
  border: 0;
  height: 3.25rem;
  width: 3.25rem;
  border-radius: 50%;
}

.img--shadow {
  width: 3.5rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: #fff;
  /*background:papayaWhip*/
  background-color: #25252b;
  /* background: rgb(206, 223, 246); */
  /* font-family: Comic-sans, Arial, Helvetica, sans-serif; */
  font-size: 1rem;
}

.splashContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* z-index: 9999; */
  /* background-color: #25252b; */
}

.splashBackground {
  position: absolute;
  display: inherit;
  border-radius: 100%;
  height: 48rem;
  width: 38rem;
  background-image: radial-gradient(#08010e 10%, #25252b 50%);
  transform: translate(0rem, -1.25rem);
  z-index: -20;
}

.splash {
  display: inherit;
  padding-top: 3rem;
  height: 100vh;
  width: 55vw;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  /* background-image: radial-gradient(#08010e, #25252b, #25252b); */
  font-size: 0.75rem;
  z-index: 8;
  /* background-color: blue; */
}

.splashHi {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: left;
}

.splashHi h1 {
  font-size: 7rem;
  color: orange;
  font-weight: 800;
  padding-left: 6vw;
}

.splashExcerpt {
  width: 30vw;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: right;
  align-items: end;
  padding-bottom: 45vh;
  padding-right: 4vw;
}

.splashExcerpt h2 {
  text-align: right;
}

img {
  width: 59%;
  max-width: 500px;
}

/* About page */
.resume {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto 15vw;
  margin: 5rem 8rem;
}
.resume h2 {
  color: rgb(246, 162, 84);
}
.resume--large-font {
  font-size: 2.5rem;
  line-height: 0.2;
  color: rgb(246, 162, 84);
}
.resume__box-entry {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-left: 0.25rem solid rgb(79, 45, 122);
  padding-left: 0.75rem;
  background-color: rgba(255, 192, 203, 0.051);
  padding: 5px 25px 5px 10px;
  line-height: 0.8;
}
.resume__box-entry ul {
  line-height: 1.6;
}
.resume__box-entry ul li {
  max-width: 90%;
}
.resume__head {
  grid-row: 1;
  grid-column: 1/span 2;
  border-bottom: 0.25rem solid white;
}
.resume__edu {
  grid-row: 2;
  grid-column: 1;
  display: inherit;
}
.resume__exp {
  grid-row: 3;
  grid-column: 1;
  display: inherit;
}
.resume__techSkills {
  grid-row: 4;
  grid-column: 1;
  display: inherit;
}
.resume__accomp {
  grid-row: 5;
  grid-column: 1;
  display: inherit;
}
.resume__sidebar {
  grid-row: 1/span 5;
  grid-column: 2;
  background-color: rgb(246, 162, 84);
}
.resume__date {
  color: rgb(246, 162, 84);
  font-weight: bold;
  white-space: nowrap;
}

/* projects page ------------------- */
.gridNav {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 2rem;
  justify-content: center;
  margin: 1.25rem;
  /* column-gap: .25rem; */
  background-color: #434348;
}

.gridNav a {
  padding: 1rem;
  background-color: #434348;
  text-align: center;
  align-self: center;
  text-decoration: none;
  color: #FF715B;
  font-weight: 900;
  transition: 0.5s;
}

.gridNav a:hover {
  transition: 0.5s;
  color: rgb(176, 123, 246);
}

.projectsContainer {
  margin: 0rem 1rem;
  display: grid;
  grid-template-rows: 60vh auto auto;
  grid-template-columns: 1fr 1fr;
}

.websiteContainer {
  grid-row: 1;
  grid-column: 1/span 2;
}

.dimworkContainer {
  grid-row: 2;
  grid-column: 1/span 2;
}

.artworkContainer {
  grid-row: 3;
  grid-column: 1/span 2;
  justify-content: space-evenly;
}
