/* header is container for nav items. They inherit display so I don't have to declare on them! */
header {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    background-color: #434348;
    /* border-bottom: .25rem solid #d4c467; */
    height: 4rem;
    /* justify = justify items along main axis (main axis horizontal by default) */
    /* align = align along cross axis */
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color: #fff;
    /*background:papayaWhip*/
    background-color: #25252b;
    /* background: rgb(206, 223, 246); */
    /* font-family: Comic-sans, Arial, Helvetica, sans-serif; */
    font-size: 1rem;
}

header h1 {
    display: inherit;
    color: #FF715B;
    text-align: start;
    width: 4rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    /* border-right: .25rem solid #d4c467; */
}

/* .headDivider {
    border: .125rem solid #d4c467;
} */

h2 {
    color: #dd853d;
    margin: 1rem;
}

img {
    width: 59%;
    max-width: 500px;
}

/* likeList section */

.likeListGrid{
    display: grid;
    border: .25rem solid #000000;
    grid-template-columns: 1fr 1fr 1fr;
}

.likeList {
    grid-column: 1;
    padding: 0rem 1rem;
}

.likeListPic {
    grid-column: 2;
    background-color: #e56ad8;
}

/* ---------- */

nav {
    display: inherit;
    width: 20rem;
    /* background-color: #e56ad8; */
    justify-content: space-evenly;
    align-items: center;
    row-gap: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    /* background-color: #e56ad8; */
}

nav a {
    display: inherit;
    height: 30px;
    width: 70px;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    text-decoration: none;
    background-color: #1EA896;
    color: black;
    border: .125rem solid black;
    border-radius: 8%;
    transition: 0.4s;
    font-size: smaller;
}

nav a:visited{
    text-decoration: none;
    color: black;
}

nav a:hover{
    transition-duration: 0.5s;
    transform: scale(1.05);
    background-color: rgb(117, 255, 135);
    /* background-image: linear-gradient(red, blue);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

nav a:active{
    transform: scale(.98);
    background-color: rgb(100, 191, 109);
    transition: 0.1s;
}